.Button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    position: absolute;
}

.Icon {
    position: absolute;
    top: 15px;
    left: 320px;
    transition: all 0.2s linear;
    transform: scale(1.3);
}

.Icon:hover {
    transform: scale(1.4);
}

.Icon:active {
    transform: scale(1.2);
}